In [101]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib as mpl
import seaborn as sns
mpl.rcParams['figure.dpi'] = 400

plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['axes.unicode_minus'] = False

In [102]:
df = pd.read_csv('data_preprocessed_over.csv') # over_sampling

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2773887 entries, 0 to 2773886
Data columns (total 19 columns):
 #   Column    Dtype
---  ------    -----
 0   성별코드      float64
 1   연령대코드     float64
 2   허리둘레      float64
 3   총콜레스테롤    float64
 4   트리글리세라이드  float64
 5   HDL콜레스테롤  float64
 6   LDL콜레스테롤  float64
 7   혈색소       float64
 8   요단백       float64
 9   혈청크레아티닌   float64
 10  AST       float64
 11  ALT       float64
 12  감마지티피     float64
 13  흡연상태      float64
 14  음주여부      float64
 15  복부비만      float64
 16  비만여부      float64
 17  고혈압       float64
 18  식전혈당      int64
dtypes: float64(18), int64(1)
memory usage: 402.1 MB

In [104]:
print(df['식전혈당'].value_counts())

0    924629
1    924629
2    924629
Name: 식전혈당, dtype: int64

In [105]:
df = df[['성별코드', '연령대코드', '허리둘레', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤',
       'LDL콜레스테롤', '혈색소', '요단백', '혈청크레아티닌', 'AST', 'ALT', '감마지티피', '흡연상태',
       '음주여부', '복부비만', '비만여부', '고혈압', '식전혈당']]

In [106]:
df.head()

,성별코드,연령대코드,허리둘레,총콜레스테롤,트리글리세라이드,HDL콜레스테롤,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,AST,ALT,감마지티피,흡연상태,음주여부,복부비만,비만여부,고혈압,식전혈당
0,2.0,12.0,78.0,166.0,89.0,88.0,60.0,12.0,1.0,1.0,21.0,18.0,16.0,1.0,1.0,0.0,1.0,1.0,1
1,2.0,10.0,87.0,207.0,103.0,46.0,140.0,14.0,1.0,1.0,19.0,18.0,23.0,1.0,1.0,1.0,1.0,0.0,0
2,1.0,10.0,86.0,236.0,199.0,54.0,141.0,15.0,1.0,1.0,21.0,21.0,13.0,2.0,0.0,0.0,1.0,3.0,1
3,1.0,17.0,68.0,164.0,73.0,74.0,75.0,13.0,1.0,1.0,25.0,16.0,11.0,1.0,0.0,0.0,0.0,1.0,1
4,2.0,12.0,76.0,191.0,247.0,48.0,93.0,14.0,1.0,1.0,42.0,22.0,67.0,1.0,1.0,0.0,0.0,1.0,0

In [107]:
df.loc[df['식전혈당'] == 1, '식전혈당'] = 0
df.loc[df['식전혈당'] == 2, '식전혈당'] = 1

In [108]:
print(df['식전혈당'].value_counts())

0    1849258
1     924629
Name: 식전혈당, dtype: int64

In [109]:
df.head()

,성별코드,연령대코드,허리둘레,총콜레스테롤,트리글리세라이드,HDL콜레스테롤,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,AST,ALT,감마지티피,흡연상태,음주여부,복부비만,비만여부,고혈압,식전혈당
0,2.0,12.0,78.0,166.0,89.0,88.0,60.0,12.0,1.0,1.0,21.0,18.0,16.0,1.0,1.0,0.0,1.0,1.0,0
1,2.0,10.0,87.0,207.0,103.0,46.0,140.0,14.0,1.0,1.0,19.0,18.0,23.0,1.0,1.0,1.0,1.0,0.0,0
2,1.0,10.0,86.0,236.0,199.0,54.0,141.0,15.0,1.0,1.0,21.0,21.0,13.0,2.0,0.0,0.0,1.0,3.0,0
3,1.0,17.0,68.0,164.0,73.0,74.0,75.0,13.0,1.0,1.0,25.0,16.0,11.0,1.0,0.0,0.0,0.0,1.0,0
4,2.0,12.0,76.0,191.0,247.0,48.0,93.0,14.0,1.0,1.0,42.0,22.0,67.0,1.0,1.0,0.0,0.0,1.0,0

In [110]:
df1 = df[(df['식전혈당'] == 0)].sample(frac= 0.5)
df2 = df[(df['식전혈당'] == 1)].sample(frac= 1)

In [111]:
df = pd.concat([df1,df2],ignore_index=True)

In [112]:
df

,성별코드,연령대코드,허리둘레,총콜레스테롤,트리글리세라이드,HDL콜레스테롤,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,AST,ALT,감마지티피,흡연상태,음주여부,복부비만,비만여부,고혈압,식전혈당
0,2.0,11.0,72.0,158.0,65.0,62.0,83.0,14.0,1.0,1.0,24.0,21.0,18.0,3.0,1.0,0.0,0.0,1.0,0
1,2.0,10.0,64.0,170.0,167.0,41.0,95.0,14.0,2.0,1.0,20.0,21.0,17.0,1.0,1.0,0.0,0.0,1.0,0
2,1.0,11.0,86.0,279.0,175.0,58.0,186.0,12.0,1.0,0.0,22.0,33.0,40.0,3.0,0.0,0.0,1.0,0.0,0
3,2.0,7.0,73.0,157.0,50.0,67.0,80.0,12.0,1.0,1.0,17.0,10.0,7.0,1.0,1.0,0.0,0.0,0.0,0
4,2.0,12.0,72.0,212.0,64.0,63.0,136.0,12.0,4.0,6.0,25.0,16.0,13.0,2.0,1.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1849253,2.0,11.0,98.0,246.0,246.0,39.0,157.0,15.0,3.0,1.0,23.0,29.0,39.0,3.0,1.0,1.0,2.0,2.0,1
1849254,1.0,12.0,97.0,262.0,277.0,38.0,190.0,15.0,1.0,1.0,13.0,15.0,57.0,3.0,0.0,1.0,1.0,2.0,1
1849255,1.0,7.0,90.0,214.0,255.0,48.0,115.0,17.0,1.0,1.0,35.0,40.0,87.0,3.0,1.0,1.0,1.0,1.0,1
1849256,2.0,13.0,83.0,272.0,220.0,47.0,181.0,14.0,1.0,1.0,28.0,30.0,24.0,1.0,1.0,0.0,1.0,1.0,1
1849257,1.0,8.0,73.0,226.0,195.0,54.0,132.0,14.0,1.0,1.0,17.0,15.0,38.0,1.0,0.0,0.0,1.0,0.0,1

In [150]:
print(df['식전혈당'].value_counts())

0    924629
1    924629
Name: 식전혈당, dtype: int64

In [113]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.model_selection import train_test_split

In [114]:
features_response = df.columns.tolist()

In [115]:
features_response

['성별코드',
 '연령대코드',
 '허리둘레',
 '총콜레스테롤',
 '트리글리세라이드',
 'HDL콜레스테롤',
 'LDL콜레스테롤',
 '혈색소',
 '요단백',
 '혈청크레아티닌',
 'AST',
 'ALT',
 '감마지티피',
 '흡연상태',
 '음주여부',
 '복부비만',
 '비만여부',
 '고혈압',
 '식전혈당']

In [116]:
X = df[features_response].iloc[:,:-1].values
y = df[features_response].iloc[:,-1].values
print(X.shape, y.shape)

(1849258, 18) (1849258,)

In [117]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [118]:
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import SelectPercentile

[f_stat, f_p_value] = f_classif(X,y)
f_test_df = pd.DataFrame({'Feature':features_response[:-1],
                         'F statistic':f_stat,
                         'p value':f_p_value})
f_test_df.sort_values('p value')

     Feature    F statistic   p value
0       성별코드   21417.321633  0.000000
15      복부비만   56285.090404  0.000000
13      흡연상태   11570.061541  0.000000
12     감마지티피   48530.446726  0.000000
11       ALT   46899.957217  0.000000
10       AST   26157.609777  0.000000
9    혈청크레아티닌    2430.191615  0.000000
16      비만여부   42947.671434  0.000000
8        요단백   32614.527673  0.000000
6   LDL콜레스테롤   26136.107990  0.000000
5   HDL콜레스테롤   66661.655565  0.000000
4   트리글리세라이드   79909.399839  0.000000
3     총콜레스테롤   14402.858548  0.000000
2       허리둘레  132628.013707  0.000000
1      연령대코드  162674.204841  0.000000
7        혈색소    7658.077603  0.000000
17       고혈압   64064.558871  0.000000
14      음주여부       6.801925  0.009106

In [119]:
from sklearn.feature_selection import SelectPercentile

selector = SelectPercentile(f_classif, percentile=25)
selector.fit(X,y)
best_feature_ix = selector.get_support()
best_feature_ix

array([False,  True,  True, False,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False,  True])

In [120]:
features = features_response[:-1]

In [121]:
best_features = [features[counter] for counter in range(len(features))
                if best_feature_ix[counter]]

In [122]:
best_features

['연령대코드', '허리둘레', '트리글리세라이드', 'HDL콜레스테롤', '고혈압']

In [123]:
diabetes_rate = df['식전혈당'].mean()
diabetes_rate

0.5

In [124]:
from sklearn.model_selection import train_test_split

In [125]:
X = df[best_features].values
y = df['식전혈당'].values

In [126]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=24, stratify=y)

In [127]:
from collections import Counter

In [128]:
Counter(y)

Counter({0: 924629, 1: 924629})

In [129]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(
    C=1, class_weight='balanced', random_state=24, multi_class='auto',
    n_jobs=-1, solver='lbfgs').fit(X_train, y_train)

In [130]:
print('학습결과: ', model.score(X_train, y_train))
print('테스트결과: ', model.score(X_test, y_test))

학습결과:  0.6703469428808538
테스트결과:  0.6694266895947568

In [131]:
from sklearn.metrics import classification_report
pred_train = model.predict(X_train)
pred_test = model.predict(X_test)
print('classification_repot - 학습데이터')
print(classification_report(y_train, pred_train))

classification_repot - 학습데이터
              precision    recall  f1-score   support

           0       0.68      0.64      0.66    693471
           1       0.66      0.70      0.68    693472

    accuracy                           0.67   1386943
   macro avg       0.67      0.67      0.67   1386943
weighted avg       0.67      0.67      0.67   1386943

In [132]:
print('classification_report - 테스트데이터')
print(classification_report(y_test, pred_test))

classification_report - 테스트데이터
              precision    recall  f1-score   support

           0       0.68      0.64      0.66    231158
           1       0.66      0.70      0.68    231157

    accuracy                           0.67    462315
   macro avg       0.67      0.67      0.67    462315
weighted avg       0.67      0.67      0.67    462315

데이터 정규분포 스케일링 적용

In [133]:
scaler = StandardScaler()
data_scaled = scaler.fit_transform(X)

In [134]:
X_train , X_test, y_train , y_test = train_test_split(data_scaled, y, test_size=0.25, random_state=0, stratify=y)

In [135]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(
    C=0.1, class_weight='balanced', random_state=0, multi_class='multinomial',
    n_jobs=-1, solver='lbfgs').fit(X_train, y_train)

In [136]:
print('학습결과: ', model.score(X_train, y_train))
print('테스트결과: ', model.score(X_test, y_test))

학습결과:  0.6701796685227872
테스트결과:  0.6696191990309638

In [137]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve

In [138]:
pred_train = model.predict(X_train)
pred_test = model.predict(X_test)
print('classification_repot - 학습데이터')
print(classification_report(y_train, pred_train))

classification_repot - 학습데이터
              precision    recall  f1-score   support

           0       0.68      0.64      0.66    693471
           1       0.66      0.70      0.68    693472

    accuracy                           0.67   1386943
   macro avg       0.67      0.67      0.67   1386943
weighted avg       0.67      0.67      0.67   1386943

In [139]:
print('classification_report - 테스트데이터')
print(classification_report(y_test, pred_test))

classification_report - 테스트데이터
              precision    recall  f1-score   support

           0       0.68      0.64      0.66    231158
           1       0.66      0.70      0.68    231157

    accuracy                           0.67    462315
   macro avg       0.67      0.67      0.67    462315
weighted avg       0.67      0.67      0.67    462315

In [147]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve

def get_clf_eval(y_test, y_pred):
    confusion = confusion_matrix(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    F1 = f1_score(y_test, y_pred)
    AUC = roc_auc_score(y_test, y_pred)
    print('오차행렬:\n', confusion)
    print('\n정확도: {:.4f}'.format(accuracy))
    print('정밀도: {:.4f}'.format(precision))
    print('재현율: {:.4f}'.format(recall))
    print('F1: {:.4f}'.format(F1))
    print('AUC: {:.4f}'.format(AUC))

In [148]:
get_clf_eval(y_test, pred_test)

오차행렬:
 [[148132  83026]
 [ 69714 161443]]

정확도: 0.6696
정밀도: 0.6604
재현율: 0.6984
F1: 0.6789
AUC: 0.6696

In [149]:
from sklearn.model_selection import cross_val_score , cross_validate

scores = cross_val_score(model,X,y)
print("교차 검증 점수: {}".format(scores))
print("교차 검증 평균 점수: {:.2f}".format(scores.mean()))

교차 검증 점수: [0.66956242 0.66981387 0.66992473 0.67136496 0.66970753]
교차 검증 평균 점수: 0.67