In [75]:
import os
import sys
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [76]:
df = pd.read_csv('NHIS_OPEN_GJ_2017_100.csv',encoding='EUC-KR')
df1 = pd.read_csv('NHIS_OPEN_GJ_2018_100.csv')
df = df.append([df1])

In [77]:
df.describe()

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
count,2000000.00,2000000.00,2000000.00,2000000.00,2000000.00,2000000.00,2000000.00,1999320.00,1999564.00,1999545.00,...,1994049.00,1999622.00,1644521.00,2000000.00,399992.00,0.00,0.00,0.00,800516.00,2000000.00
mean,2017.50,500000.50,1.47,10.56,33.70,162.26,63.43,81.35,0.98,0.98,...,37.40,1.61,0.70,0.40,0.22,NaN,NaN,NaN,0.60,20186172.50
std,0.50,288675.21,0.50,2.86,12.68,9.31,12.63,11.06,0.61,0.60,...,50.62,0.82,0.46,0.49,0.41,NaN,NaN,NaN,0.59,5046.50
min,2017.00,1.00,1.00,5.00,11.00,125.00,25.00,1.00,0.10,0.10,...,1.00,1.00,0.00,0.00,0.00,NaN,NaN,NaN,0.00,20181126.00
25%,2017.00,250000.75,1.00,8.00,27.00,155.00,55.00,74.50,0.70,0.70,...,16.00,1.00,0.00,0.00,0.00,NaN,NaN,NaN,0.00,20181126.00
50%,2017.50,500000.50,1.00,11.00,41.00,160.00,60.00,81.00,1.00,1.00,...,23.00,1.00,1.00,0.00,0.00,NaN,NaN,NaN,1.00,20186172.50
75%,2018.00,750000.25,2.00,13.00,43.00,170.00,70.00,88.00,1.20,1.20,...,40.00,2.00,1.00,1.00,0.00,NaN,NaN,NaN,1.00,20191219.00
max,2018.00,1000000.00,2.00,18.00,50.00,190.00,140.00,999.00,9.90,9.90,...,999.00,3.00,1.00,1.00,1.00,NaN,NaN,NaN,2.00,20191219.00

In [78]:
df = df.drop(['기준년도','가입자일련번호','시도코드','시력(좌)','시력(우)','청력(좌)','청력(우)','구강검진수검여부','치아우식증유무','결손치유무','치아마모증유무','제3대구치(사랑니)이상','치석','데이터공개일자'],axis=1)

In [79]:
df

,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,수축기혈압,이완기혈압,식전혈당(공복혈당),총콜레스테롤,트리글리세라이드,HDL콜레스테롤,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부
0,1,8,170,75,90.00,120.00,80.00,99.00,193.00,92.00,48.00,126.00,17.10,1.00,1.00,21.00,35.00,40.00,1.00,1.00
1,1,7,180,80,89.00,130.00,82.00,106.00,228.00,121.00,55.00,148.00,15.80,1.00,0.90,20.00,36.00,27.00,3.00,0.00
2,1,9,165,75,91.00,120.00,70.00,98.00,136.00,104.00,41.00,74.00,15.80,1.00,0.90,47.00,32.00,68.00,1.00,0.00
3,1,11,175,80,91.00,145.00,87.00,95.00,201.00,106.00,76.00,104.00,17.60,1.00,1.10,29.00,34.00,18.00,1.00,0.00
4,1,11,165,60,80.00,138.00,82.00,101.00,199.00,104.00,61.00,117.00,13.80,1.00,0.80,19.00,12.00,25.00,1.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2,11,165,75,84.00,110.00,70.00,107.00,NaN,NaN,NaN,NaN,12.20,1.00,0.70,18.00,15.00,19.00,1.00,NaN
999996,1,7,170,75,88.00,136.00,88.00,114.00,NaN,NaN,NaN,NaN,17.00,1.00,1.00,25.00,36.00,90.00,1.00,1.00
999997,1,8,175,80,87.00,162.00,90.00,98.00,NaN,NaN,NaN,NaN,16.40,1.00,0.90,21.00,15.00,36.00,2.00,1.00
999998,1,11,165,70,80.20,140.00,98.00,94.00,NaN,NaN,NaN,NaN,15.70,1.00,1.20,20.00,18.00,14.00,2.00,NaN
999999,1,5,165,60,70.00,120.00,80.00,85.00,NaN,NaN,NaN,NaN,16.80,1.00,1.00,17.00,12.00,11.00,1.00,1.00

In [80]:
df["음주여부"] = df["음주여부"].fillna(value=0)

In [81]:
df = df.dropna(subset=['허리둘레','수축기혈압','이완기혈압','식전혈당(공복혈당)','총콜레스테롤','트리글리세라이드','HDL콜레스테롤','LDL콜레스테롤','혈색소','요단백','혈청크레아티닌','(혈청지오티)AST','(혈청지오티)ALT','감마지티피','흡연상태'])

In [82]:
df.isnull().sum()

성별코드           0
연령대코드(5세단위)    0
신장(5Cm단위)      0
체중(5Kg단위)      0
허리둘레           0
수축기혈압          0
이완기혈압          0
식전혈당(공복혈당)     0
총콜레스테롤         0
트리글리세라이드       0
HDL콜레스테롤       0
LDL콜레스테롤       0
혈색소            0
요단백            0
혈청크레아티닌        0
(혈청지오티)AST     0
(혈청지오티)ALT     0
감마지티피          0
흡연상태           0
음주여부           0
dtype: int64

In [83]:
df = df.loc[(df['허리둘레'] >= 40) & (df['허리둘레'] <= 140)]

In [84]:
def bmi(height,weight):
    m = height / 100
    return weight / (m ** 2)
def diabetes(x):
    if x >= 100 and x < 126:
        return "1"
    elif x >= 127:
        return "2"
    else:
        return "0"

def fat(bmi) :
    if(bmi < 25):
        return '1'
    elif(bmi >= 25 and bmi < 30):
        return '2'
    else:
        return '3'

def pulse(low,high):
    if low >= 100 or high >= 160:
        return "3"
    elif 90 <= low < 100 or 140 <= high < 160:
        return "2"
    elif 80 <= low < 90 or 120 <= high < 140:
        return "1"
    else:
        return "0"
def bokbu(gen, hurry):
    if gen == 1 and hurry >= 90:
        return "1"
    elif gen == 2 and hurry >= 85:
        return "1"
    else:
        return "0"

def colesterol(all, ldl, hdl):
    if 139 <= all <200 or 130<= ldl <= 159 or 35 <= hdl <=  59:
        return 1
    elif all <= 200 or ldl <= 130 or hdl <= 60:
        return 0
    else:
        return -1

In [85]:
df['고혈압'] = np.vectorize(pulse)(df['이완기혈압'], df['수축기혈압'])
df['bmi'] = np.vectorize(bmi)(df['신장(5Cm단위)'], df['체중(5Kg단위)'])
df['비만도'] = df['bmi'].map(fat)
df['복부비만'] = np.vectorize(bokbu)(df['성별코드'], df['허리둘레'])
df['고지혈증'] = np.vectorize(colesterol)(df['총콜레스테롤'],df['LDL콜레스테롤'],df['HDL콜레스테롤'])
df['당뇨병'] = df['식전혈당(공복혈당)'].map(diabetes)

In [86]:
df

,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,수축기혈압,이완기혈압,식전혈당(공복혈당),총콜레스테롤,트리글리세라이드,...,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,고혈압,bmi,비만도,복부비만,고지혈증,당뇨병
0,1,8,170,75,90.00,120.00,80.00,99.00,193.00,92.00,...,35.00,40.00,1.00,1.00,1,25.95,2,1,1,0
1,1,7,180,80,89.00,130.00,82.00,106.00,228.00,121.00,...,36.00,27.00,3.00,0.00,1,24.69,1,0,1,1
2,1,9,165,75,91.00,120.00,70.00,98.00,136.00,104.00,...,32.00,68.00,1.00,0.00,1,27.55,2,1,1,0
3,1,11,175,80,91.00,145.00,87.00,95.00,201.00,106.00,...,34.00,18.00,1.00,0.00,2,26.12,2,1,0,0
4,1,11,165,60,80.00,138.00,82.00,101.00,199.00,104.00,...,12.00,25.00,1.00,0.00,1,22.04,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999978,1,8,180,65,77.00,123.00,89.00,92.00,158.00,139.00,...,8.00,15.00,3.00,1.00,1,20.06,1,0,1,0
999979,1,13,155,60,87.00,129.00,70.00,82.00,274.00,239.00,...,127.00,64.00,3.00,1.00,1,24.97,1,0,1,0
999981,2,14,155,55,83.00,146.00,69.00,99.00,216.00,122.00,...,15.00,23.00,1.00,0.00,2,22.89,1,0,1,0
999982,2,14,155,55,84.00,130.00,80.00,95.00,222.00,173.00,...,14.00,19.00,1.00,0.00,1,22.89,1,0,1,0
999983,1,13,160,70,88.50,134.00,96.00,105.00,148.00,214.00,...,23.00,53.00,2.00,1.00,2,27.34,2,0,1,1

In [87]:
df.to_csv('세진.csv')