In [1]:
import numpy as np
import sys
import numpy as np
import pandas as pd
import matplotlib as mpl
import sklearn

In [2]:
df = pd.read_csv('NHIS_OPEN_GJ_2017_100.csv',engine = 'python')

In [3]:
df.describe()

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
count,1000000.0,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.00000,1000000.000000,999734.000000,999817.000000,999811.000000,...,999958.000000,999856.000000,999464.000000,1000000.000000,0.0,0.0,0.0,0.0,400523.000000,1000000.0
mean,2017.0,500000.500000,1.469590,10.527041,33.694584,162.22823,63.268710,81.231603,0.980478,0.978032,...,37.184273,1.607704,0.499293,0.400523,NaN,NaN,NaN,NaN,0.602130,20181126.0
std,0.0,288675.278933,0.499075,2.841183,12.672969,9.28462,12.520732,11.837625,0.608810,0.607122,...,50.624330,0.818454,0.500000,0.490005,NaN,NaN,NaN,NaN,0.590891,0.0
min,2017.0,1.000000,1.000000,5.000000,11.000000,130.00000,25.000000,8.000000,0.100000,0.100000,...,1.000000,1.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,20181126.0
25%,2017.0,250000.750000,1.000000,8.000000,27.000000,155.00000,55.000000,74.100000,0.700000,0.700000,...,16.000000,1.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,20181126.0
50%,2017.0,500000.500000,1.000000,10.000000,41.000000,160.00000,60.000000,81.000000,1.000000,1.000000,...,23.000000,1.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000,20181126.0
75%,2017.0,750000.250000,2.000000,13.000000,43.000000,170.00000,70.000000,87.800000,1.200000,1.200000,...,39.000000,2.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,1.000000,20181126.0
max,2017.0,1000000.000000,2.000000,18.000000,50.000000,190.00000,140.000000,999.000000,9.900000,9.900000,...,999.000000,3.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,2.000000,20181126.0

In [4]:
df_sample = df[['성별코드', '연령대코드(5세단위)','수축기혈압','이완기혈압','식전혈당(공복혈당)','신장(5Cm단위)', '체중(5Kg단위)', '허리둘레', '흡연상태', '음주여부']]

In [5]:
df_sample = df_sample.dropna()

In [6]:
df_sample

,성별코드,연령대코드(5세단위),수축기혈압,이완기혈압,식전혈당(공복혈당),신장(5Cm단위),체중(5Kg단위),허리둘레,흡연상태,음주여부
0,1,8,120.0,80.0,99.0,170,75,90.0,1.0,1.0
1,1,7,130.0,82.0,106.0,180,80,89.0,3.0,0.0
2,1,9,120.0,70.0,98.0,165,75,91.0,1.0,0.0
3,1,11,145.0,87.0,95.0,175,80,91.0,1.0,0.0
4,1,11,138.0,82.0,101.0,165,60,80.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
999995,1,10,114.0,80.0,88.0,175,80,92.1,1.0,0.0
999996,1,8,119.0,83.0,83.0,170,75,86.0,1.0,0.0
999997,2,9,110.0,70.0,90.0,155,50,68.0,3.0,1.0
999998,1,6,119.0,74.0,69.0,175,60,72.0,1.0,0.0
999999,1,11,133.0,79.0,99.0,160,70,90.5,3.0,1.0

In [7]:
df_sample['당뇨병'] = df_sample['식전혈당(공복혈당)'].apply(lambda x : x >= 126).copy()

In [8]:
df_sample['고혈압'] = False

In [9]:
df_sample.loc[(df_sample['이완기혈압'] >= 90) | (df_sample['수축기혈압'] >= 140), '고혈압'] = True

In [10]:
df_sample[['고혈압','당뇨병']]

          고혈압    당뇨병
0       False  False
1       False  False
2       False  False
3        True  False
4       False  False
...       ...    ...
999995  False  False
999996  False  False
999997  False  False
999998  False  False
999999  False  False

[999048 rows x 2 columns]

In [11]:
def fat(bmi) :
    if(bmi <= 18.5):
        return '저체중'
    elif(bmi > 18.5 and bmi <= 23):
        return '정상'
    elif(bmi > 23 and bmi <30):
        return '비만'
    else:
        return '고도비만'
df_sample['BMI'] = df_sample['체중(5Kg단위)'] / ( (df_sample['신장(5Cm단위)'] / 100) * (df_sample['신장(5Cm단위)']/100) )
df_sample['비만도계산'] = 0
fatlist = df_sample['BMI'].apply(fat)
df_sample['비만도계산'] = fatlist

In [14]:

def Entropy(df, attribute) :
    list1  = list(df[attribute].unique())
    etp = 0
    for i in range(len(list1)):
        q1 = len(df[df[attribute] == list1[i]])/len(df[attribute])
        etp -=  q1*np.log2(q1)
    return etp

def Group_info(df,m_attribute,fix_attribute):
    list2 = list(df[m_attribute].unique())
    info_Entropy = Entropy(df,fix_attribute)
    info_data = 0
    for i in range (len(list2)) :
        q2 = df.loc[df[m_attribute] == list2[i]]
        info_data +=  (len(q2[m_attribute])/len(df[m_attribute]))* Entropy(q2,fix_attribute) 
    
    data = info_Entropy - info_data
    
    return data

info = np.array([("성별코드"),("흡연상태"),("음주여부"),("고혈압"),("비만도계산")])

for i in info :
    print(i,":",Group_info(df_sample, i,"당뇨병") * 1000)

성별코드 : 4.00872327022328
흡연상태 : 3.170937240058236
음주여부 : 0.02535768115685677
고혈압 : 5.7019379887672255
비만도계산 : 8.346162625090692

In [13]:
df_noachol = df.loc[~yachol,:].copy()

NameError: name 'yachol' is not defined

In [ ]:
df_noachol

In [ ]:
yachol

In [ ]:
df_achol_1 = df_achol[["음주여부","당뇨병"]]

In [ ]:
df_achol_2 = df_noachol[["음주여부","당뇨병"]]

In [ ]:
df_achol_1

In [ ]:
df_achol_1['당뇨병'].value_counts()

In [ ]:
df_achol_2

In [ ]:
df_achol_2.describe()

In [ ]:
df_achol_2.value_counts()

In [ ]:
df_achol_1.value_counts()